body{
    margin:0%
}
header{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 50px;
    text-align: center;
}
body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: solid;
    padding: 30px;
    text-align: center;
}
nav{
    display: flex;
    font: bold;
    font-style: italic;
    color: rgb(255, 0, 0);
    justify-content: center;
    gap: 50px;
}
.hero
{
    height :50vh;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
}