body{
    background:linear-gradient(0deg,rgb(0, 207, 186),rgb(65, 65, 65),rgba(0, 0, 0, 1));
    margin:0%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
header{
    backdrop-filter: blur(8px);
    position:sticky;
    top:0;

    color: white;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
nav{
    position: sticky;
    top:60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: solid;
    gap:30px;
    align-items: center;
    padding: 15px;
    background-color: rgba(53, 53, 53, 0.303);
    backdrop-filter: blur(4px);
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(255,255,255,0.05);
    
    font-weight:600;
    transition: 0.3s;
}
nav a:hover{
    transform: scale(1.09);
    color:#00bcd4;
}

.hero{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    text-align: center;
    border-radius: 20px;
    backdrop-filter: blur(25px);
    box-shadow:0 8px 30px rgba(0, 0, 0, 0.3);
    background: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.15);
}
footer{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}