body{
    margin: 0%;
    background-color: white;
    
    padding:30px;
    text-align: center;
    background:linear-gradient(180deg,#CCCCFF,#bfbbf7fe);

    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: solid;
    color: 	NAVY;
}

nav
{
    display: flex;
    font: bold;
    padding: 10px;
    font-style: bold;
    color: black;
    justify-content: center;
    gap: 30px;
}
nav a{
    color: black;
    text-decoration: none;
    text-shadow: black;
    text-shadow: 5px;
    transition: 0.5s;
    font-weight: 560;
}
nav a:hover{
    color: #5856f0;
    transform: scale(1);
}
button{
    padding: 15px 30px;
    cursor:pointer;
    transition: 1.2s;
    font-style: normal;
    font-weight: 600px;
    color: #5856f0;
}
button:hover{
    background-color: #000000;
    transform: scale(1.2);
}